<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luozc.modules.system.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="cn.luozc.modules.system.model.Menu">
        <id column="mid" jdbcType="VARCHAR" property="mid"/>
        <result column="mname" jdbcType="VARCHAR" property="mname"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="parentId" jdbcType="VARCHAR" property="parentId"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    <sql id="Base_Column_List">
    mid, mname, url, parentId, sort, icon, createTime, updateTime
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
        where mid = #{mid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_menu
    where mid = #{mid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="cn.luozc.modules.system.model.Menu">
    insert into sys_menu (mid, mname, url, 
      parentId, sort, icon, 
      createTime, updateTime)
    values (#{mid,jdbcType=VARCHAR}, #{mname,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR},
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="cn.luozc.modules.system.model.Menu">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mid != null">
                mid,
            </if>
            <if test="mname != null">
                mname,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="parentId != null">
                parentId,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="createtime != null">
                createTime,
            </if>
            <if test="updatetime != null">
                updateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mid != null">
                #{mid,jdbcType=VARCHAR},
            </if>
            <if test="mname != null">
                #{mname,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.luozc.modules.system.model.Menu">
        update sys_menu
        <set>
            <if test="mname != null">
                mname = #{mname,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parentId = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createTime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updateTime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where mid = #{mid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.luozc.modules.system.model.Menu">
        update sys_menu
        set mname = #{mname,jdbcType=VARCHAR},
          url = #{url,jdbcType=VARCHAR},
          parentId = #{parentId,jdbcType=VARCHAR},
          sort = #{sort,jdbcType=INTEGER},
          icon = #{icon,jdbcType=VARCHAR},
          createTime = #{createtime,jdbcType=TIMESTAMP},
          updateTime = #{updatetime,jdbcType=TIMESTAMP}
        where mid = #{mid,jdbcType=VARCHAR}
      </update>
    <!--查询所有菜单-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu
        order by sort
    </select>
    <!--查询所有菜单-->
    <select id="menuTreeData" resultType="map">
        select
         mid as id,mname as name,parentId as pId,'true' as `open`
        from sys_menu
        order by sort
    </select>
</mapper>