<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luozc.modules.common.dao.ISqlDao">
	<select id="select" parameterType="cn.luozc.modules.common.model.Sql" resultType="java.util.Map">
		${sql}
	</select>
	<select id="selectCount" parameterType="cn.luozc.modules.common.model.Sql" resultType="java.lang.Integer">
		${sql}
	</select>
	<update id="update" parameterType="cn.luozc.modules.common.model.Sql" >
		${sql}
	</update>
	<update id="insert" parameterType="cn.luozc.modules.common.model.Sql" >
		${sql}
	</update>
	<update id="delete" parameterType="cn.luozc.modules.common.model.Sql" >
		${sql}
	</update>
	
</mapper>